{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true onClick=(action "toggle" 'leftSideBarLockedOpen')}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    <h2>
      Nike - JustDoIt
    </h2>
    <span class="flex"></span>
    {{#if isAuthenticated}}
      {{#paper-button iconButton=true onClick=(action "logout")}}
        {{paper-icon "power-settings-new"}}
        {{#paper-tooltip}}Logout{{/paper-tooltip}}
      {{/paper-button}}
      {{#paper-menu as |menu|}}
        {{#menu.trigger}}
          {{#paper-button iconButton=true}}
            {{paper-icon "more_vert"}}
          {{/paper-button}}
        {{/menu.trigger}}
        {{#menu.content width=2 as |content|}}
          {{#content.menu-item onClick=(action "transitionTo" "users")}}
            {{paper-icon "face"}} User Profiles
          {{/content.menu-item}}
        {{/menu.content}}
      {{/paper-menu}}
    {{else}}
      {{#paper-button iconButton=true onClick=(action "login")}}
        {{paper-icon "exit-to-app"}}
        {{#paper-tooltip}}Login{{/paper-tooltip}}
      {{/paper-button}}
    {{/if}}
    {{#paper-button mini=true aria-label="Repo" href="https://github.com/rajagopal28/Nike" target="_blank"}}
      {{paper-icon "favorite"}}
      {{#paper-tooltip}}Git Repo{{/paper-tooltip}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{#paper-sidenav-container class="inner-sidenav"}}
  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="left2"
    open=leftSideBarOpen
    lockedOpen=leftSideBarLockedOpen
    isLockedOpen=leftSideBarLockedOpen
    onToggle=(action (mut leftSideBarOpen))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}  {{#paper-button onClick=(action "transitionTo" "home")}} Home {{/paper-button}}{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content padding=true}}
      {{#paper-list}}
        {{#if isAuthenticated}}
          {{#paper-item}}
            {{#paper-button onClick=(action "transitionTo" "dashboard")}}Dashboard{{/paper-button}}
          {{/paper-item}}
          {{#paper-item}}
            {{#paper-button onClick=(action "transitionTo" "labels")}}Labels{{/paper-button}}
          {{/paper-item}}
          {{#paper-item}}
           {{#paper-button onClick=(action "transitionTo" "tasks")}}Tasks{{/paper-button}}
          {{/paper-item}}
          {{#paper-item}}
           {{#paper-button onClick=(action "transitionTo" "users")}}Users{{/paper-button}}
          {{/paper-item}}
        {{else}}
          {{#paper-item}}
           {{#paper-button disabled=true }} You are not authenticated{{/paper-button}}
          {{/paper-item}}
        {{/if}}
     {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}
  {{#paper-card-content class="flex"}}
    {{yield}}
  {{/paper-card-content}}
{{/paper-sidenav-container}}
