{{#unless disableFiltering}}
  <div class="layout layout-sm-column">
    {{#paper-chips
      readOnly=false
      removeItem=(action "removeLabel")
      addItem=(action "addLabel")
      placeholder="Add a tag"
      options=labels
      searchField="name"
      noMatchesMessage="Not found. Click to add."
      content=filterLabels as |item|}}
      <strong>{{item.name}}</strong>
    {{/paper-chips}}
    {{#paper-button primary=true onClick=(action "applyFilter")}}Filter{{/paper-button}}
  </div>
{{/unless}}
<h2>timeline</h2>
{{#vertical-timeline animate=true as |timeline|}}
  {{#each filteredTasks as |task index|}}
    {{#timeline.block as |block|}}
      {{#if (if-n-mod index nth=2)}}
        {{#block.image class='block-image-bg'}}
          <img src={{imageURLOdd}}/>
        {{/block.image}}
      {{else}}
        {{#block.image class='block-image-bg even'}}
          <img src={{imageURLEven}}/>
        {{/block.image}}
      {{/if}}
      {{#block.content as |content|}}
        <h3>{{task.title}}</h3>
        {{task.description}}
        {{#paper-button iconButton=true onClick=(action "deleteTaskWarning" task)}}{{paper-icon "delete"}}{{/paper-button}}
        {{#paper-button iconButton=true onClick=(action "editTask" task)}}{{paper-icon "edit"}}{{/paper-button}}
        {{#unless disableFiltering}}
          {{#paper-button iconButton=true onClick=(action "viewTask" task)}}{{paper-icon "visibility"}}{{/paper-button}}
        {{/unless}}
        {{#content.date}}{{format-date task.dueDate}}{{/content.date}}
      {{/block.content}}
    {{/timeline.block}}
  {{/each}}
{{/vertical-timeline}}
{{#if showDeleteWarning}}
  {{#custom-warning-dialog content=deleteTaskWarningContent onConfirm=(action "deleteTask" selectedTask) onCancel=(action "hideDialog")}} {{/custom-warning-dialog}}
{{/if}}
{{#if showEditTaskDialog}}
  {{#custom-warning-dialog content='UpdateData' hideOkButton=true onConfirm=(action "updateTaskData" selectedTask) onCancel=(action "hideDialog")}}
    {{#add-task labels=labels disableFiltering=disableFiltering inputTask=selectedTask addNewTask=(action "updateTaskData")}} {{/add-task}}
  {{/custom-warning-dialog}}
{{/if}}
{{yield}}
