<h2>List of Tasks</h2>
<ul>
  {{#each tasks as |task|}}
    <li>{{task.title}}</li>
  {{/each}}
</ul>
<h2>timeline</h2>
{{#vertical-timeline animate=true as |timeline|}}
  {{#each tasks as |task|}}
    {{#timeline.block as |block|}}
      {{#block.image class="block-image-bg"}}
        <img src={{imageURL}}/>
      {{/block.image}}

      {{#block.content as |content|}}
        <h3>{{task.title}}</h3>
        {{task.description}}
        {{#content.date}}Date{{/content.date}}
      {{/block.content}}
    {{/timeline.block}}
  {{/each}}
{{/vertical-timeline}}
{{yield}}
