<h2>List of Tasks</h2>
<ul>
  {{#each tasks as |task|}}
    <li>{{task.title}}</li>
  {{/each}}
</ul>
<h2>timeline</h2>
{{#vertical-timeline animate=true as |timeline|}}
  {{#each tasks as |task index|}}
    {{#timeline.block as |block|}}
      {{#if (if-n-mod index nth=2)}}
        {{#block.image class='block-image-bg'}}
          <img src={{imageURLOdd}}/>
        {{/block.image}}
      {{else}}
        {{#block.image class='block-image-bg even'}}
          <img src={{imageURLEven}}/>
        {{/block.image}}
      {{/if}}
      {{#block.content as |content|}}
        <h3>{{task.title}}</h3>
        {{task.description}}
        {{#content.date}}{{format-date task.dueDate}}{{/content.date}}
      {{/block.content}}
    {{/timeline.block}}
  {{/each}}
{{/vertical-timeline}}
{{yield}}
