<div class="all-labels">
  {{#paper-subheader}} List Of Labels {{/paper-subheader}}
  {{#each  model as |label|}}
    {{#paper-item as |controls|}}
      {{controls.checkbox value=label.checked onChange=(action (mut label.checked))}}
      <div class="md-list-item-text">
        <p>{{label.displayName}}</p>
        <h4>{{label.name}}</h4>
        <h5>Added on: {{label.addedOn}}</h5>
      </div>
      <div class="md-secondary-container">
        {{#controls.button secondary=true iconButton=true onClick=(action "editLabel" label)}}
          {{paper-icon "mode-edit"}}
        {{/controls.button}}
      </div>
    {{/paper-item}}
  {{/each}}
</div>
{{yield}}
